 @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 400;
     src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype');
     font-display: swap;
 }
  @font-face {
     font-family: 'korolev light';
     font-style: normal;
     src: url('/assets/fonts/korolev Light.otf') format('opentype');;
     font-display: swap;
 }
   @font-face {
     font-family: 'korolev bold';
     font-style: normal;
     src: url('/assets/fonts/korolev Bold.otf') format('opentype');;
     font-display: swap;
 }
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }
html {
     overflow-x: hidden !important;
 }
textarea {
     resize: none;
 }
:root {
     --primary: gray;
     --primary-light: white;
     --base-color:#7711f4;
     --baseColor2:  #a048c0;
     --font-body: "Rubik";
 }
.text-primary {
     color: var(--primary) !important;
}
.text-base {
     color: var(--base-color);
}
.text-primary-light {
     color: var(--primary);
}
.font-k-l{
     font-family: "korolev light";
}
.font-r {
     font-family: "Rubik";
}
.font-k-b{
     font-family: "korolev bold" ;
 }
body {
     font-family: var(--font-body);
     line-height: 30px;
     font-size: 16pt;
     overflow-wrap: break-word;
     -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}


 .customContainer,
 .customContainer3 {
     width: auto;
     padding-right: calc(1.5rem * .5);
     padding-left: calc(1.5rem * .5);
     margin-right: auto;
     margin-left: auto;
     transition: var(--easeInTransition);
 }
.font1{
     font-family: 'korolev light';
     color: white;
     font-size: 100px;
 }
.font2{
     font-family: 'korolev bold';
     color: white;
        font-size: 100px;
    }

 h2 {
     font-size: 60pt;
     font-family: 'korolev light';
    color: white;
  
 }

 h3 {
    font-size: 30pt;
     font-family: 'korolev light';
     word-wrap: normal;
 }

 h4 {
        font-size: 30pt;
        font-family: 'korolev bold';
 } 

 h5{
        font-size: 30pt;
 }
.text-purple{
    color: #730CF9;
}
.bg-gray{
    background-color: #F8F8F8;
}
.fs-4{
    font-size: 33pt;
    font-family: 'korolev bold';
    color: white;
}


 @media (min-width: 320px) {

     .customContainer {
         width: auto;

     }
 }

 @media (min-width: 576px) {

     .customContainer {
         max-width: 540px;
         overflow: hidden;
     }
 }


 @media (min-width: 768px) {

     .customContainer {
         max-width: 720px;
     }
 }


 @media (min-width: 991px) {

     .customContainer {
         max-width: 960px;
     }
 }

@media (min-width: 1200px) {
    .customContainer {
        max-width: 1170px;
    }
}

 @media (max-width: 1600px) {

     section.home_banner.about_banner {
         height: 700px !important;
     }

 }