 @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 400;
     src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype');
     font-display: swap;
 }

 @font-face {
     font-family: 'korolev light';
     font-style: normal;
     src: url('/assets/fonts/korolev Light.otf') format('opentype');
     font-display: swap;
 }

 @font-face {
     font-family: 'korolev bold';
     font-style: normal;
     src: url('/assets/fonts/korolev Bold.otf') format('opentype');
     font-display: swap;
 }

 @font-face {
     font-family: 'korolev medium';
     font-style: normal;
     src: url('/assets/fonts/Korolev Medium.otf') format('opentype');
     font-display: swap;
 }

 @font-face {
     font-family: 'sign';
     font-style: normal;
     src: url('/assets/fonts/Celinea.ttf') format('truetype');
     font-display: swap;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }

 html {
     overflow-x: hidden !important;
     
 }

 textarea {
     resize: none;
 }

 :root {
     --primary: gray;
     --primary-light: white;
     --base-color1: #7711f4;
     --baseColor2: #a048c0;
     --font-body: "Rubik";
 }

 .text-primary {
     color: var(--primary) !important;
 }

 .text-base {
     color: var(--base-color1);
 }

 .text-primary-light {
     color: var(--primary);
 }

 .font-k-l {
     font-family: "korolev light";
 }

 .font-r {
     font-family: "Rubik";
 }

 .font-k-b {
     font-family: "korolev bold";
 }

 body {
     font-family: var(--font-body);
     line-height: 30px;
     font-size: 16pt;
     overflow-wrap: break-word;
     -webkit-font-smoothing: antialiased;
 }

 a {
     font-size: 15pt;
 }

 p {
     font-family: 'Rubik';
     font-size: 16pt;
 }

 .customContainer {
     width: auto;
     padding-right: calc(1.5rem * .5);
     padding-left: calc(1.5rem * .5);
     margin-right: auto;
     margin-left: auto;

 }

 h1 {
     font-size: 75pt;
 }

 .font1 {
     font-family: 'korolev light';
     color: white;

 }

 .font2 {
     font-family: 'korolev bold';
     color: white;

 }

 h2 {
     font-size: 60pt;
     color: white;
 }

 h3 {
     font-size: 30pt;
     font-family: 'korolev light';
     word-wrap: normal;
 }

 h4 {
     font-size: 28pt;
     font-family: 'korolev medium';
     color: white;
 }


 .text-purple {
     color: #730CF9;
 }

 .bg-gray {
     background-color: #F8F8F8;
 }

 .fs-4 {
     font-size: 33pt;
     font-family: 'korolev bold';
     color: white;
 }

 .fs-5 {
     font-size: 17pt;
     font-family: 'korolev medium';
     color: white;
 }

 .fs-6 {
     color: black;
     font-size: 16px;
     font-family: 'Rubik';
 }

 .fs-9 {
     font-size: 17pt;
     font-family: 'korolev medium';
     /* color: white; */
     margin-top: 59px;

 }

 .fs9-1 {
     font-size: 30pt;
     font-family: 'korolev bold';
 }

 p.ceoSignature {
     font-family: 'sign' !important;
     font-size: 80px;
     font-weight: 500;
     margin-top: -31px;
 }

 @media only screen and (max-width: 1600px) and (min-width: 1301px) {
     .location_section {
         padding: 50px 0px;
     }
 }


 @media (min-width: 320px) {

     .customContainer {
         width: auto;

     }

     .navbar-brand img {
         max-height: 40px;
     }
     .btn-outline-light-custom {
    display: inline-block;
    background: transparent;
    color: #fff;
    font-size: 10pt;
    padding: 12px 46px;
    border-radius: 999px;
    text-decoration: none;
    border: 2px solid #fff;
}

     h1 {
         font-size: 20pt;
         color: white !important;
         margin-top: -141px;
     }

     .banner_text .font1 {
         position: relative;
         display: inline-block;
     }

     .banner_text .font1::before {
         content: "";
         position: absolute;
         top: -38px;
         left: -56px;
         width: 90px;
         height: 69px;
         background: url(/assets/img/home-icon.png) center / contain no-repeat;
     }

     p {
         font-size: 12pt;

     }
       .main-btn {
        font-size: 1.1rem;
        padding: 0.7em 2.2em;
    }
    

 }

 @media (min-width: 576px) {

     .customContainer {
         max-width: 540px;
         overflow: hidden;
     }
       .banner_text .font1::before {
    content: "";
    position: absolute;
    top: -38px;
    left: -56px;
    width: 90px;
    height: 69px;
    background: url(/assets/img/home-icon.png) center / contain no-repeat;
}

 }


 @media (min-width: 768px) {

     .customContainer {
         max-width: 720px;
     }

 }


 @media (min-width: 991px) {

     .customContainer {
         max-width: 960px;
     }

 }

 @media (min-width: 1200px) {
     .customContainer {
         max-width: 1170px;
     }

 }

 @media (max-width: 1600px) {

     section.home_banner.about_banner {
         height: 700px !important;
     }

 }